*{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
div{
  display: block;
}
body{
  font-family: "Microsoft YaHei";
  background: url(../images/body_bg.jpg) no-repeat top;
  background-size:cover; 
}
.header{
  height: 100px;
}
.container{
  margin: 0 auto;
  position: relative;
  width: 1024px;
  padding-right:15px;
  padding-left: 15px; 
}
.logo-group{
  float: left;
}
.logo1{
  float: left;
  animation:LogoScale 6s linear infinite;
  margin-top: 15px;
}
.logo2{
    margin-top: 15px;
    height: 95px;
}
.appdown-link{
padding: 5px 18px;
margin-top: 13px;
float: right;
margin-left: 10px;
}
.kf-link{
  float: right;
  margin-top: 18px;
}
.lg-main{
  min-width: 1024px;
  height: 475px;
  background:url(../images/bg.jpg) no-repeat;
}
.lg-main .container{
  background: url(../images/x2018.png) no-repeat left;
  height: 475px;
}
.lg-main .login{
  background: url(../images/xflogin.png) no-repeat;
  height: 318px;
  float: right;
  width: 300px;
  margin-top: 72px;
  padding-bottom: 30px;
  position: relative;
  padding: 20px;
}
.fv-form span{
  top: 20px;
  left: 30px;
  font-size: 21px;
  color: #fff;
  margin-bottom: 10px;
  height: 37px;
  display: block;
  font-weight: 500;
}
.fv-form input{
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.xingfu_login{
  width: 125px;
  height: 37px;
  background: url(../images/login.png) no-repeat;
  border: none;
  color: #fff;
  float: left;
  font-size: 14px;
  cursor: pointer;
}
.xingfu_zhuce{
  display: inline-block;
  width: 125px;
  height: 37px;
  background: url(../images/zhuc.png) no-repeat;
  line-height: 37px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
}
.mfsw{
  display: block;
  width: 260px;
  height: 37px;
  background: url(../images/mfsw.png) no-repeat;
  border: none;
  color: #fff;
  font-size: 14px;
}
.kf-pass{
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  color: #ddd;
}
.copyright{
width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  position: absolute;
  bottom: 40px;
  margin: 0 auto;
    }
@media (min-width: 768px){
    .container {
        min-width: 1024px;
    }
}
@media (min-width: 576px){
    .container {
        min-width: 1024px;
    }
}
.content{
    overflow: hidden;
}
.reg-header{
    width: 100%;
    height: 160px;
    background: #004d91;
}
.reg-head-bg{
    height: 160px;
    background: url(../images/reg_head.png) no-repeat center top;
}
.reg_info{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
.reg-form{
    float: left;
    width: 330px;
}
.reg_title{
    background: url(../images/heng.png) repeat-x left bottom;
    margin: 0 0 45px 0;
}
.reg_title li{
    font-size: 20px;
    color: #1a6bad;
    line-height: 60px;
    margin: 0 0 20px 0;
    background: url(../images/regi.png) no-repeat left;
    padding-left: 55px;
}
.reg-form-tips{
    width: 400px;
    line-height: 85px;
    padding-left: 10px;
    float: left;
    color: #8e8e8e;
}
.form-group label{
    font-size: 14px;
    font-weight: 600;
}
.clear{
    clear: both;
}
.wechat-fh{
    position: absolute;
    right: 0;
    width: 236px;
}
.wechat-fh images{
    width: 236px;
}
.phone-content{
    width: 100%;
    float: left;
    height: 670px;
}
.phone1000{
    width: 1000px;
    margin: 0 auto;
}
.phone1000 .pleft{
    padding-top: 80px;
    float: left;
}
.phone1000 .pright{
    float: right;
    padding-top:40px; 
}
.erleft{
    padding-top: 20px;
    float: left;
}
.top1{
    background: url(../images/mobiel-download.png) no-repeat;
    width: 176px;
    height: 51px;
}
.right-two .ewm-bg{
    background: url(../images/ewm-bg.png) no-repeat;
    width: 174px;
    margin-top:16px;
    height: 174px; 
}
.right-two .ewm-bg images{
    width: 143px;
    margin: 16px;
}
.right-two .erright{
    float: right;
    padding-top:20px; 
}
.right-two .top2{
    background: url(../images/mobiel-download.png) no-repeat 0px -62px;
    width: 176px;
    height: 51px;
}
.ewm-text{
    text-align: center;
    color: #c41e2b;
    padding-top: 5px;
    font-weight: 900;
}

@keyframes LogoScale {
  0%{
    transform: scale(0.1) rotateY(0deg);
  }
  20%{
    transform: scale(0.5) rotateY(180deg);
  }
  40%{
    transform: scale(1) rotateY(0deg);
  }
  100% {
    transform: scale(1) rotateY(0deg);
  }
}